# Environment variables for local development

# PostgreSQL connection
DATABASE_URL=postgresql://postgres:postgres@localhost:5435/mentor_matching

# Application
NODE_ENV=development

PORT=3000
FRONTEND_URL=http://localhost:5173

JWT_SECRET=(`run this ```bash openssl rand -hex 32``` to generate your token`)
JWT_EXPIRES_IN=1d
AUTH_COOKIE_MAX_AGE_MS=86400000

RESEND_API_KEY=
EMAIL_FROM=CYF Mentorship <onboarding@resend.dev>

# Deployment environment

# In production, configure
# NODE_ENV=production
# FRONTEND_URL=https://mm.trainees.hosting.cyf.academy
# JWT_SECRET=run```openssl rand -hex 32```to-generate-token
# JWT_EXPIRES_IN=1d
# AUTH_COOKIE_MAX_AGE_MS=86400000
# DATABASE_URL=production-postgres-url
# RESEND_API_KEY=production-resend-key
# EMAIL_FROM="CYF Mentorship <noreply@verified-domain>"
